@import "header.css";
@import "footer.css";
@import "article.css";
@import "projects.css";
@import "tech.css";
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.filler {
  flex: 1;
}
.circular {
  object-fit: cover;
  border-radius: 50%;
}
.shadowed {
  box-shadow: 0 0 6px;
}
